//========
// COLORS
//========


// Twitter brand color
$tw-color-blue-primary: #1DA1F2;

// Twitter text color
$tw-color-text-black: #14171A;
$tw-color-text-link: #2b7bb9; // not updated

// Twitter gray variants
$tw-color-gray-dark: #14171A;
$tw-color-gray-deep: #657786;
$tw-color-gray-medium: #AAB8C2;
$tw-color-gray-light: #CCD6DD;
$tw-color-gray-faded: #E6ECF0;
$tw-color-gray-faint: #F5F8FA;

// Twitter orange variants
$tw-color-orange-deep: #D82E18;
$tw-color-orange-medium: #F45D22;
$tw-color-orange-light: #FF8D57;
$tw-color-orange-faded: #FFBE78;

// Twitter yellow variants
$tw-color-yellow-deep: #F98E00;
$tw-color-yellow-medium: #FFAD1F;
$tw-color-yellow-light: #FFD03F;
$tw-color-yellow-faded: #FFE76E;

// Twitter green variants
$tw-color-green-deep: #008951;
$tw-color-green-medium: #17BF63;
$tw-color-green-light: #68E090;
$tw-color-green-faded: #A5F2AA;

// Twitter blue variants
$tw-color-blue-deep: #005FD1;
$tw-color-blue-dark: #1B95E0;
$tw-color-blue-medium: #50a5e6;
$tw-color-blue-light: #71C9F8;
$tw-color-blue-faded: #97E3FF;
$tw-color-blue-faint: #EAF5FD;

// Twitter purple variants
$tw-color-purple-deep: #4F0299;
$tw-color-purple-medium: #794BC4;
$tw-color-purple-light: #A37CED;
$tw-color-purple-faded: #C7B4FA;

// Twitter red variants
$tw-color-red-deep: #A01744;
$tw-color-red-medium: #E0245E;
$tw-color-red-light: #F6809A;
$tw-color-red-faded: #FFB8C2;

// Primary brand colors
$brand-danger: $tw-color-red-medium;
$brand-success: $tw-color-green-medium;
$brand-warning: $tw-color-yellow-medium;
$brand-info: $tw-color-blue-dark;
$brand-primary: $tw-color-blue-deep;

// Text colors (Overrides for Bootstrap 3)
$text-color: $tw-color-text-black;
$link-color: $tw-color-text-link;
$link-hover-color: darken($link-color, 10);

// Peer
$peer-purple: #4E516A;

// Flacto
$flacto-grey: #E8E8E8;

.fill-white {
  fill: white;
}

.fill-dark {
  fill: $peer-purple;
}


//===============
// HTML Defaults
//===============


body {
  margin: 0;
  padding: 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a, a:hover {
    cursor: pointer;
    color: inherit;
  }
}

td {
  vertical-align: middle;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background-color: $peer-purple; // TODO: change color
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, a:hover {
  cursor: pointer;
  color: inherit;
}

input, button {
  border: none;
}

button:focus {
  outline: none;
}


//===================
// CONTENT CONTAINER
//===================


$body-min-width: 1280px;
$body-max-width: 1440px;

.content-container {
  min-width: $body-min-width;
  max-width: $body-max-width;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  position: relative;
}


//=========
// PADDING
//=========


// all padding

.p-0 {
  padding: 0;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}


// padding: 15px

.p-t-15 {
  padding-top: 15px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-r-15 {
  padding-right: 15px;
}


// padding: 20px

.p-t-20 {
  padding-top: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-r-20 {
  padding-right: 20px;
}


// padding: 25px

.p-t-25 {
  padding-top: 25px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.p-l-25 {
  padding-left: 25px;
}

.p-r-25 {
  padding-right: 25px;
}


//========
// MARGIN
//========


// auto

.m-l-r-a {
  margin-left: auto;
  margin-right: auto;
}

// all margin

.m-0 {
  margin: 0;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

// margin: 15px

.m-t-15 {
  margin-top: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-r-15 {
  margin-right: 15px;
}


// margin: 20px

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-r-20 {
  margin-right: 20px;
}


// margin: 25px

.m-t-25 {
  margin-top: 25px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-l-25 {
  margin-left: 25px;
}

.m-r-25 {
  margin-right: 25px;
}
