@import "./global.scss";

.top-nav-bar {
  background-color: rgba($peer-purple, 0.87);
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.top-nav-menu {
  float: right;
  height: 100%;
  width: 500px;
}

.top-nav-menu-item {
  cursor: pointer;
  display: inline-block;
  color: white;
  width: 125px;
  height: 100%;
  text-align: center;
}

.top-nav-menu-item:hover {
  background-color: #3C3D4B;
}

.top-nav-menu-item-title {
  margin-top: 25px;
}
